# Dependencies
node_modules/
package-lock.json

# Database
smurfs.db
*.db
*.db-journal

# Build
dist/
dist-electron/
out/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local

# Temp
*.tmp
*.temp
.cache/
